section div {
    max-width: 20em;
}

img {
    /*max-height: 500px;*/
    max-width: 100%;
}
@media screen and (max-width: 992px){
    section div {
        max-width: 100%;
        /*max-height: 400px;*/
    }

    img {
        max-width: 4em;
    }
}

main a {
    background-color: #EEEEEE;
}