footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    color: #EEEEEE;
    background-color: #000000;
    padding: 1em 0;
    font-size: 0.9em;
}

footer > div {
    margin: 0 1em;
}

footer > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
}

footer > div > img {
    max-height: 6em;
}

footer > div > section > ul {
    list-style: none;
    padding-left: 0.5em;
}

footer > div > section > ul > li {
    margin: 0.5em 0;
}

@media screen and (max-width: 992px) {
    footer > div {
        margin: 1em 0;
    }
}
