.burger-icon {
    position: relative;
    display: block;
    width: 1.5em;
    height: 1.5em;
}

.burger-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 1.5em;
    height: 0.2em;
    background-color: #000000;
    border-radius: 4px;
    box-shadow: 0 -0.5em 0 #000000, 0 0.5em 0 #000000;

    transition-duration: 200ms;
}

.burger-icon:hover:after {
    background-color: #8C0303;
    box-shadow: 0 -0.5em 0 #8C0303, 0 0.5em 0 #8C0303;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);

    transition-duration: 200ms;
}

header {
    padding: 1em 0;
    margin-bottom: 1em;
}

header > section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

header > section > div > img {
    max-height: 6em;
}

header > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

header > nav > section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 0.5em 0;
    margin: 0 0.5em;
    border-bottom: 4px solid #000000;
}

header > nav > section > button {
    width: 100%;
    margin: 0 0.5em;
}

header > nav > section > button:first-of-type {
    width: 100%;
    margin-left: 0;
}

header > nav > section > button:last-of-type {
    width: 100%;
    margin-right: 0;
}

@media screen and (max-width: 992px) {
    header > nav {
        overflow: hidden;
        height: 3.5em;
    }

    header > nav > section {
        border-bottom: none;
    }

    header > nav > section:first-of-type > button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}
