header > section {
    padding: 1em;
}

header > section > img {
    max-height: 6em;
}

header > nav > section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    padding: 0.5em;
    margin: 1em;
    border-bottom: 4px solid #000000;
}

header > nav > section > button {
    width: 100%;
    height: 100%;
    margin: 0 0.5em;
}

header > nav > section > button:first-of-type {
    margin-left: 0;
}

header > nav > section > button:last-of-type {
    margin-right: 0;
}

#burger > button {
    height: 3em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#burger > button > span  {
    display: block;
    width: 2em;
    height: 0.2em;
    background-color: #000000;
    border-radius: 4px;
}

#burger > button > span:before {
    content: '';
    display: block;
    position: relative;
    top: -0.5em;
    width: 2em;
    height: 0.2em;
    background-color: #000000;
    border-radius: 4px;
}

#burger > button > span:after {
    content: '';
    display: block;
    position: relative;
    top: 0.3em;
    width: 2em;
    height: 0.2em;
    background-color: #000000;
    border-radius: 4px;
}

@media screen and (max-width: 992px) {
    header > nav > section:not(#burger) {
        border-bottom: none;
        margin: 0;
        padding: 0.25em 1.5em;
    }

    #burger {
        border-bottom: none;
        margin-bottom: 0.5em;
    }

    #burger:hover > button > span, #burger:hover > button > span:before, #burger:hover > button > span:after {
        background-color: #8C0303;
    }

    header > nav > section > button {
        margin: 0 0.25em;
    }

    header > nav {
        height: 3.5em;
        overflow: hidden;
    }
}
