header > section {
    padding: 1em;
}

header > section > img {
    max-height: 6em;
}

header > nav > section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    padding: 0.5em;
    margin: 1em;
    border-bottom: 4px solid #000000;
}

header > nav > section > button {
    width: 100%;
    height: 100%;
    margin: 0 0.5em;
}

header > nav > section > button:first-of-type {
    margin-left: 0;
}

header > nav > section > button:last-of-type {
    margin-right: 0;
}
