/**
 * Menu "cards" general styles
 */

/*.menu-card {*/
/*    position: relative;*/
/*    border: 1px solid #000000;*/
/*    border-bottom: 4px solid #000000;*/
/*    border-radius: 8px;*/

/*    width: 24em;*/
/*    height: 12em;*/

/*    transition-duration: 200ms;*/
/*}*/

/*.menu-card:hover {*/
/*    transform: perspective(20cm) rotateX(3deg);*/
/*    box-shadow: #666666 0 8px 8px;*/
/*    transition-duration: 200ms;*/
/*}*/

/*.menu-card > figure {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    border-radius: 8px;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    overflow: hidden;*/
/*}*/

/*.menu-card > figure:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 1;*/
/*    border-radius: 8px;*/

/*    background: linear-gradient(to right, rgba(140, 0, 0, 255), rgba(0, 0, 0, 0));*/
/*}*/

/*.menu-card > figure > figcaption {*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    top: 0.5em;*/
/*    left: 0.5em;*/
/*    z-index: 2;*/

/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*    color: #EEEEEE;*/
/*    font-size: 1.8em;*/
/*}*/

/*.menu-card > button {*/
/*    position: absolute;*/
/*    bottom: 0.5em;*/
/*    right: 0.5em;*/
/*    z-index: 3;*/
/*}*/

/*!***/
/* * Main bloc*/
/* *!*/

/*main {*/
/*    margin: 1em 0 0 0;*/
/*    padding: 1em;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: nowrap;*/
/*}*/

/*main > h2 {*/
/*    text-indent: 1em;*/
/*    margin: 1em 0 0.5em 0;*/
/*}*/

/*main > .site-map, .catalogs-list {*/
/*    width: 100%;*/

/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: center;*/
/*}*/

/*main > .site-map > .menu-card {*/
/*    flex-grow: 1;*/
/*    margin: 0 0.5em;*/
/*}*/

/*main > .catalogs-list > .menu-card {*/
/*    flex-grow: 1;*/
/*    margin: 0 .5em;*/
/*    height: 16em;*/
/*}*/

/*article.individual > figure:after {*/
/*    background: linear-gradient(to right, rgba(42, 16, 110, 255), rgba(0, 0, 0, 0));*/
/*}*/

/*article.professional > figure:after {*/
/*    background: linear-gradient(to right, rgba(19, 38, 72, 255), rgba(0, 0, 0, 0));*/
/*}*/

/*@media screen and (max-width: 1080px) {*/
/*    .menu-card > button {*/
/*        display: none;*/
/*    }*/

/*    main > .site-map, .catalogs-list {*/
/*        flex-direction: column;*/
/*    }*/

/*    main > .site-map > .menu-card {*/
/*        margin: 0.5em 0;*/
/*        width: 100%;*/
/*    }*/

/*    main > .catalogs-list > .menu-card {*/
/*        margin: 0.5em 0;*/
/*        width: 100%;*/
/*    }*/
/*}*/

main, main > div, main > section {
    margin: 1em 0;
}

main > section > article {
    border-radius: 4px;
    position: relative;
    height: 16em;
    overflow: hidden;
}

main > section > article > figure {
    position: relative;
    margin: 0;
    padding: 0;
}

main > section > article > figure:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(140, 3, 3, 0.5), rgba(140, 3, 3, 0.0));
}

main > section > article > h2 {
    color: #EEEEEE;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    z-index: 2;
}

main > section > article > button {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 2;
}
