main, main > div, main > section, main > .carousel {
    margin: 1em 0;
}

.carousel {
    border: 1px solid #000000;
}

.carousel, .carousel-inner, .carousel-indicators, .carousel-item {
    border-radius: 4px;
    max-height: 24em;
    overflow: hidden;
}

.carousel-caption, .carousel-indicators {
    z-index: 2;
}

.carousel-caption > * {
    margin: 1em 0;
}

.carousel-inner {
    position: relative;
}

.carousel-inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(140, 3, 3, 0.9), rgba(140, 3, 3, 0.25), rgba(140, 3, 3, 0.0));
}

main > section > div > article {
    border: 1px solid #000000;
    border-radius: 4px;
    position: relative;
    height: 16em;
    overflow: hidden;

    transition-duration: 200ms;
}

main > section > div > article:hover {
    transform: perspective(20cm) rotateX(3deg);
    box-shadow: #666666 0 8px 8px;

    transition-duration: 200ms;
}

main > section > div > article > figure {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

main > section > div > article > figure:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(140, 3, 3, 0.5), rgba(140, 3, 3, 0.0));
}

main > section > div > article > figure.individual:after {
    background: linear-gradient(to right, rgba(42, 16, 110, 0.5), rgba(140, 3, 3, 0.0));
}

main > section > div > article > figure.professional:after {
    background: linear-gradient(to right, rgba(19, 38, 72, 0.5), rgba(140, 3, 3, 0.0));
}

main > section > div > article > h2 {
    color: #EEEEEE;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    z-index: 2;
}

main > section > div > article > button {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 2;
}
