footer {
    color: #EEEEEE;
}

.etiquettes {
    max-height: 2em;
    max-width: 6em;
}

section aside {
    /*max-width: 1800px;*/
    max-height: 4em;
}

aside img {
    width: 1.5em;
    height: 1.5em;
}
/*
section > img {
    max-width: 100%;
    transform: translateY(-50%);
}

section {
    max-height: 1000px;
    overflow: hidden;
}*/

.img-produit {
    max-height: 8em;
    overflow: hidden;
}

.img-produit img {
    max-width: 100%;
    transform: translateY(-45%);
}