main > section > div {
    max-height: 12em;
    overflow: hidden;
}

main > section:first-of-type > div > img {
    transform: translateY(-25%);
}

main > section:last-of-type > div > img {
    transform: translateY(-30%);
}

h2 {
    color: #EEEEEE;
}

@media screen and (max-width: 992px) {
    main > section > div {
        height: 8em;
    }

    main > section:first-of-type > div > img {
        transform: none;
    }

    main > section:last-of-type > div > img {
        transform: none;
    }
}